.theme-cyan .menu > ul > li > ul.normal-sub > li a:hover,
.theme-cyan .menu > ul > li > ul > li > ul > li a:hover {
  background-color: #00bcd4;
}

.theme-cyan .navbar-brand {
  color: #00bcd4 !important;
}

.theme-cyan .navbar-brand:hover,
.theme-cyan .navbar-brand:active,
.theme-cyan .navbar-brand:focus {
  color: #00bcd4;
}

.theme-cyan .navbar {
  background: linear-gradient(45deg, #49cdd0, #ab9ae5);
}

.theme-cyan .nav > li > a {
  color: #fff;
}

.theme-cyan .nav > li > a:hover,
.theme-cyan .nav > li > a:focus {
  background-color: transparent;
}

.theme-cyan .nav .open > a {
  background-color: transparent;
}

.theme-cyan .nav .open > a:hover,
.theme-cyan .nav .open > a:focus {
  background-color: transparent;
}

.theme-cyan .bars {
  color: #fff;
}

.theme-cyan .sidebar .menu .list li.active {
  background-color: transparent;
}

.theme-cyan .sidebar .menu .list li.active > :first-child i,
.theme-cyan .sidebar .menu .list li.active > :first-child span {
  color: #00bcd4;
}

.theme-cyan .sidebar .menu .list a:hover {
  color: #00bcd4;
}

.theme-cyan .checkbox input[type='checkbox']:checked + label::after {
  border: 1px solid #00bcd4;
}

.theme-cyan .inbox-widget .inbox-inner:hover .inbox-img img {
  border: 2px solid #00bcd4;
  transition: all 150ms linear;
}

.theme-cyan .nav-tabs .nav-link.active {
  border: 1px solid #ab9ae5 !important;
}

.theme-cyan .card .header h2:before {
  background: #00acc1;
}

.theme-cyan .card .header h2 strong {
  color: #00acc1;
}

.theme-cyan .blog-page .single-blog-post .img-holder .date-box {
  background-color: #00bcd4;
}

.page-header {
  height: 100vh;
  max-height: 1050px;
  padding: 0;
  color: #fff;
  position: relative;
  background-position: center center;
  background-size: cover;
}

.page-header:after,
.page-header:before {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: '';
}

.page-header:before {
  background-color: rgba(0, 0, 0, 0.4);
}

.page-header .page-header-image {
  position: absolute;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.page-header .page-header-image {
  position: absolute;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.page-header {
  height: 100vh;
  max-height: 1050px;
  padding: 0;
  color: #fff;
  position: relative;
  background-position: center center;
  background-size: cover;
}

.page-header .container {
  height: 100%;
  z-index: 1;
  text-align: center;
  position: relative;
}

.page-header .container {
  height: 100%;
  z-index: 1;
  display: flex;
  text-align: center;
  position: relative;
}

.authentication .card-plain.card-plain {
  margin: 0 auto;
}

.authentication .card-plain {
  border-radius: 0.25rem;
  padding-bottom: 0.7rem;
  max-width: 320px;
}

.card-plain {
  background: transparent;
  box-shadow: none;
}

.page-header .container > .content-center {
  margin: auto;
  height: auto;

  text-align: center;
  padding: 0 15px;
  color: #ffffff;
  width: 100%;
  max-width: 880px;
}

.p-b-20,
.authentication .card-plain .header {
  padding-bottom: 20px;
}

.card-plain .header {
  margin-left: 0;
  margin-right: 0;
}

.authentication .card-plain .logo-container {
  width: 65px;
  margin: 0 auto;
}

.m-b-20,
.authentication .card-plain .logo-container,
.media,
.chat-widget .chat-scroll-list li,
.w_calender ul:nth-of-type(5) {
  margin-bottom: 20px;
}

.m-b-0,
.checkbox label,
.radio label,
.authentication .card-plain .header h5,
.navbar-nav.navbar-right .input-group,
.sidebar .user-info .detail h4,
.right-sidebar .card,
.right-sidebar .card ul,
.block-header .breadcrumb,
.card .header,
.page-calendar .event-name h6,
.page-calendar .event-name h4,
.page-calendar .event-name p,
.page-calendar .event-name address,
.activity li a .info h4,
.activity_2 h5,
.chat-wrapper .card .input-group,
.project_list .table,
.weather .city h3,
.inbox-widget .inbox-inner:last-child,
.inbox-widget .inbox-inner .inbox-item-info .inbox-date,
.inbox-widget .inbox-inner .inbox-item-info .author,
.inbox-widget .inbox-inner .inbox-item-info .inbox-message,
.members_profiles .table,
.profile_state li h4,
.social_media_table .table,
.new_friend_list,
.new_friend_list li .users_name,
.contact .action_bar .delete_all,
.contact .c_list .checkbox,
.contact .c_list .c_name,
.contact .c_list address,
.profile-page #timeline .timeline .timeline-item {
  margin-bottom: 0px;
}

h5,
.h5 {
  font-size: 1.57em;
  line-height: 1.4em;
  margin-bottom: 15px;
}

.card-plain .content {
  padding-left: 0;
  padding-right: 0;
}

.input-group,
.form-group {
  margin-bottom: 10px;
}

.authentication .card-plain.card-plain .form-control {
  border-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}

.authentication .card-plain.card-plain .input-group-addon,
.authentication
  .card-plain.card-plain
  .form-group.form-group-no-border
  .input-group-addon,
.authentication
  .card-plain.card-plain
  .input-group.form-group-no-border
  .input-group-addon {
  color: rgba(255, 255, 255, 0.5);
}

.authentication .card-plain.card-plain .input-group-addon {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.5);
  color: #fff;
}

.form-group.input-lg .form-control + .input-group-addon,
.input-group.input-lg .form-control + .input-group-addon {
  padding: 14px 0 14px 18px;
}

.form-group.input-lg .form-control + .input-group-addon,
.input-group.input-lg .form-control + .input-group-addon {
  padding: 14px 0 14px 18px;
}

.form-control + .input-group-addon:not(:first-child) {
  border-left: 1px solid #e3e3e3;
}

.form-control + .input-group-addon:not(:first-child) {
  border-left: 1px solid #e3e3e3;
}

.form-control + .input-group-addon:not(:first-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.form-group.input-lg .form-control,
.input-group.input-lg .form-control {
  padding: 14px 18px;
}

.input-group-addon:not(:first-child),
.input-group-btn:not(:first-child) > .btn,
.input-group-btn:not(:first-child) > .btn-group > .btn,
.input-group-btn:not(:first-child) > .dropdown-toggle,
.input-group-btn:not(:last-child) > .btn-group:not(:first-child) > .btn,
.input-group-btn:not(:last-child) > .btn:not(:first-child) {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}
.input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: -1px;

  border-radius: 30px 0 0 30px;
  border-right-color: transparent !important;
}

.btn:active,
.btn.active,
.open > .btn.dropdown-toggle,
.navbar .navbar-nav > a.btn:active,
.navbar .navbar-nav > a.btn.active,
.open > .navbar .navbar-nav > a.btn.dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
}
.btn {
  transition: all 0.3s;
  width: 100%;
}

.form-control {
  background-color: transparent;
  border: 1px solid #e3e3e3;
  border-radius: 30px;
  color: #2c2c2c;
  line-height: normal;
  font-size: 0.8571em;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
}

.input-group-addon:not(:first-child),
.input-group-btn:not(:first-child) > .btn,
.input-group-btn:not(:first-child) > .btn-group > .btn,
.input-group-btn:not(:first-child) > .dropdown-toggle,
.input-group-btn:not(:last-child) > .btn-group:not(:first-child) > .btn,
.input-group-btn:not(:last-child) > .btn:not(:first-child) {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}

.form-control + .input-group-addon {
  background-color: #fff;
}

.input-group-addon {
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 30px;
  color: #555;
  padding: -0.5rem 0 -0.5rem -0.3rem;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.input-group-addon i {
  width: 17px;
}

.zmdi {
  display: inline-block;
  font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
  font-size: 18px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zmdi-account-circle:before {
  content: '\f205';
}

.zmdi-lock:before {
  content: '\f191';
}

.footer {
  padding: 24px 0;
}

.l-cyan {
  background: linear-gradient(45deg, #49cdd0, #00bcd4) !important;
  color: #fff !important;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.input-group .form-control:not(:last-child),
.input-group-addon:not(:last-child),
.input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn,
.input-group-btn:not(:first-child)
  > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:not(:last-child) > .btn,
.input-group-btn:not(:last-child) > .btn-group > .btn,
.input-group-btn:not(:last-child) > .dropdown-toggle {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.authentication .card-plain.card-plain .form-control {
  border-color: rgba(255, 255, 255, 0.5);
  color: #fff !important;
  border-radius: 0 30px 30px 0 !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff !important;
}

.authentication .card-plain.card-plain .form-control:focus {
  border-color: #fff !important;
  background-color: transparent !important;
  color: #fff !important;
  box-shadow: unset !important;
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
  /* border-right: 0 none; */
  border-left: 0 none !important;
}
.btn-lg {
  font-size: 1em;
  border-radius: 0.25rem;
  padding: 15px 48px;
}

.btn-round {
  border-width: 1px;
  border-radius: 30px !important;
  padding: 11px 23px;
}

.btn,
.navbar .navbar-nav > a.btn {
  border-width: 2px;
  font-size: 0.8571em;
  line-height: 1.35em;
  margin: 5px 1px;
  border: none;
  border-radius: 0.1875rem;
  padding: 11px 22px;
  cursor: pointer;
  color: #fff;
}

button,
input,
select,
a {
  outline: none !important;
}

@media screen and (max-width: 576px) {
  .page-header .container h6.category-absolute {
    width: 90%;
  }
}
